<h1>Entrega de PET</h1>

<div class="card" > 
<div class="card-header">Busqueda</div>
</div>

<div class="card mt-4" >
    <div class="card-header">Listado de PET Entregados</div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
           <tr>
                   <th>Periodo</th>
                   <th>Fecha</th>
                   <th>Registrado por</th>
                   <th>Grupo</th>
                   <th>Alumno</th>
                   <th>Peso</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
               