<h1>Entrega de PET</h1>
<a href="~/pet">Registro de PET</a>

<div class="row mt-4">
    <div class="col">
    <div class="card">
    <div class="card-header">Datos de Registro</div>
    <div class="card-body"></div>
        <div class="row">
        <div class="col-md-6">
        <div class="mb-3"> 
<label for="periodo-semestral">Periodo Semestral</label>
<select class="form-control" id="periodo-semestral">
<option>Seleccione un elemento</option>
<option>2025-1 (Septiembre 2025 - Enero 2026)</option>
<option>2024-2 (Febrero 2026 - Julio 2025)</option>
</select>
</div>
</div>
</div>
</div>
</div>
</div>
</div>