@section Scripts {
    <script src="~/js/periodos.js"></script>
    <script src="~/js/registro.js"></script>
}


<h1>Entrega de PET</h1>
<a href="~/pet">Registro de PET</a>

<div class="row mt-4">
    <div class="col">
    <div class="card">
    <div class="card-header">Datos de Registro</div>
    <div class="card-body"></div>
        <div class="row">
        <div class="col-md-6">
        <div class="mb-3"> 
<label for="periodo-semestral">Periodo Semestral</label>
<select class="form-control" id="periodo-semestral">
</select>
</div>
</div> 

 <div class="col-md-6">
        <div class="mb-3"> 
<label for="grupo">Grupo</label>
<select class="form-control" id="grupo">
<option value="">(Seleccione un grupo)</option>
</select>
</div>
</div>

<div class="col-md-6">
        <div class="mb-3"> 
<label for="registrado por">Registrado por</label>
<select class="form-control" id="registrado-por">
<option value="">(Seleccione un personal)</option>
</select>
</div>
</div>

<div class="col-md-6">
        <div class="mb-3">
<label for ="fecha">Fecha</label>
<input type="date" class="form-control" id="fecha" disabled />
</div>
</div>

<div class="col-md-3">
        <div class="mb-3">
<label for ="num control">Numero de Control</label>
<input type="number" class="form-control" id="num control" />
</div>
</div>

<div class="col-md-6">
        <div class="mb-3">
<label for ="alumno">Nombre del Alumno</label>
<input type="text" class="form-control" id="alumno" />
</div>
</div>

<div class="col-md-3">
        <div class="mb-3">
<label for ="peso">Peso (kg)</label>
<input type="number" class="form-control" id="peso" />
</div>
</div>
</div>
</div>

<div class="card-footer d-flex justify-content-end">
<button class="btn btn-primary" type="button" id="boton-registrar">Registrar</button>
</div>
</div>
</div>
</div>
</div>