<div class="card">
    <div class="card-header">Acceso a la Aplicación</div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <div class="mb-3">
                    <label for="correo">Correo Electrónico</label>
                    <input type="email" class="form-control" id="correo" />
                </div>
            </div>

            <div class="col-12">
                <div class="mb-3">
                    <label for="password">Contraseña</label>
                    <input type="password" class="form-control" id="password" />
                </div>
            </div>

            <div class="col-12" id="mensaje"></div>
        </div>
    </div>

    <div class="card-footer d-flex justify-content-center">
        <a href="~/pet" class="btn btn-secondary">Regresar</a>
        <button class="btn btn-primary">Accesar</button>
    </div>
</div>
